<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/dash-sparklet.html">


<dom-module id="dash-dashboard">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      h1 {
        margin: 16px 0;
        color: #212121;
      }
    </style>

    <h1>Dashboard</h1>

    <dash-sparkbox>
      <dash-sparklet id="firstSpark"></dash-sparklet>
      <dash-sparklet></dash-sparklet>
      <dash-sparklet></dash-sparklet>
      <dash-sparklet></dash-sparklet>
    </dash-sparkbox>

    <dash-chartbox name="topgross"></dash-chartbox>
    <dash-chartbox name="notes"></dash-chartbox>
    <dash-chartbox name="top10"></dash-chartbox>
    <dash-chartbox name="popular"></dash-chartbox>


  </template>

  <script>

    Polymer({

      is: 'dash-dashboard',

      ready: function() {
        this.$.firstSpark.data = [1,2,3];
        this.$.firstSpark.testText = 'floozy';
      }

    });

  </script>

</dom-module>
