<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/dash-sparklet.html">
<link rel="import" href="../elements/dash-panel.html">


<dom-module id="dash-dashboard">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
        box-sizing: border-box;

      }
      h1 {
      }

      .sparkbox {
        width: 100%;
        margin: 16px 0;
      }

      .row {
        margin: 0 0;
        display: flex;
      }

      dash-sparklet {
        min-width: 12em;
        display: inline-block;
      }

      dash-panel {
        display: block;
        margin: 0 16px 16px 0;

        min-width: 24em;
      }
    </style>

    <h1>Dashboard</h1>
    <div class="sparkbox">
      <div class="row">
        <dash-sparklet id="traffic" suffix="K" label="Traffic"></dash-sparklet>
        <dash-sparklet id="daily-revenue" prefix="$" suffix="M" label="Revenue/day"></dash-sparklet>
        <dash-sparklet id="checkout-time" suffix="s" label="Checkout Time"></dash-sparklet>
        <dash-sparklet id="fill-rate" suffix="%" label="Theatre Fill Rate"></dash-sparklet>
      </div>
      <div class="row">

      </div>
    </div>

    <div class="row">
      <dash-panel id="top-grossing" label="Top Grossing Movies">
        <div style="width: 50px; height: 50px; background-color: yellowgreen;">
        </div>
      </dash-panel>

      <dash-panel id="notes" label="Notes">
        <div style="width: 50px; height: 50px; background-color: gold;">
        </div>
      </dash-panel>
    </div>

    <div class="row">
      <dash-panel id="top10" label="Top 10 Titles by Revenue">
        <div style="width: 50px; height: 50px; background-color: lightcoral;">
        </div>
      </dash-panel>

      <dash-panel id="popular" label="Popular Movies">
        <div style="width: 50px; height: 50px; background-color: slateblue;">
        </div>
      </dash-panel>
    </div>

  </template>

  <script>
    _randomData = function(num, min, max) {
      var arr = [];
      for (var i=0, t=num; i<t; i++) {
          arr.push(Math.round(Math.random() * (max - min + 1)) + min);
      }
      return arr;
    };

    Polymer({

      is: 'dash-dashboard',

      attached: function() {
        this.$.traffic.data = _randomData(30,1,40);
        this.$['daily-revenue'].data = _randomData(30,80,150);
        this.$['checkout-time'].data = _randomData(30,30,130);
        this.$['fill-rate'].data = _randomData(30,0,95);
      }

    });


  </script>

</dom-module>
