<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/dash-sparklet.html">
<link rel="import" href="../elements/dash-panel.html">


<dom-module id="dash-dashboard">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
        box-sizing: border-box;

      }
      h1 {
      }

      .sparkbox {
        width: 100%;
        margin: 16px 0;
        /*
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;*/
      }

      .row {
        /*flex: 1 1 auto;*/
        display: flex;
      }

      dash-sparklet {
        /*flex: 1 1 auto;*/
        min-width: 12em;
        display: inline-block;
      }

      dash-chartbox {
        display: block;
        background-color: #ddd;
        text-align: center;
      }

      dash-panel {
        margin: 16px 0;
      }
    </style>

    <h1>Dashboard</h1>
    <div class="sparkbox">
      <div class="row">
        <dash-sparklet id="traffic" suffix="K" label="Traffic"></dash-sparklet>
        <dash-sparklet id="daily-revenue" prefix="$" suffix="M" label="Revenue/day"></dash-sparklet>
        <dash-sparklet id="checkout-time" suffix="s" label="Checkout Time"></dash-sparklet>
        <dash-sparklet id="fill-rate" suffix="%" label="Theatre Fill Rate"></dash-sparklet>
      </div>
      <div class="row">

      </div>
    </div>

    <dash-panel>Foobar</dash-panel>
    <dash-chartbox name="topgross">
      <h3>Top Grossing</h3>
    </dash-chartbox>
    <dash-chartbox name="notes">
      <h3>Notes</h3>
    </dash-chartbox>
    <dash-chartbox name="top10">
      <h3>Top 10</h3>
    </dash-chartbox>
    <dash-chartbox name="popular">
      <h3>Popular</h3>
    </dash-chartbox>


  </template>

  <script>
    _randomData = function(num, min, max) {
      var arr = [];
      for (var i=0, t=num; i<t; i++) {
          arr.push(Math.round(Math.random() * (max - min + 1)) + min);
      }
      return arr;
    };

    Polymer({

      is: 'dash-dashboard',

      attached: function() {
        this.$.traffic.data = _randomData(30,1,40);
        this.$['daily-revenue'].data = _randomData(30,80,150);
        this.$['checkout-time'].data = _randomData(30,30,130);
        this.$['fill-rate'].data = _randomData(30,0,95);
      }

    });


  </script>

</dom-module>
